@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --grey: #808080;
  --shade_brown: #c38e3c;
  --sangria: #92000a;
  --black: #000000;
}

::-webkit-scrollbar {
  display: none;
}

/* navbar  */
.topnav {
  overflow: hidden;
  background-color: #92000a;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  border-bottom: 4px solid var(--shade_brown);
  background-color: var(--black);
}

.dropdown-content a:hover {
  background-color: var(--grey);
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1200px) {

  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .topnav.responsive {
    position: relative;
    width: 100%;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/* ------show aboutus popup------ */
.contentPost {
  width: max-content;
  background-color: transparent;
  left: 1rem;
  bottom: 1rem;
  z-index: 200;
  position: fixed;
  display: none;
  cursor: pointer;
  color: var(--white);
  border: 2px solid var(--sangria);
  border-radius: 1rem;
}

.pop_up {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  font-weight: 600;
  font-size: 20px;


}

.pop_up>a {
  color: var(--white);
  text-decoration: none;
  border: 1px solid var(--white);
  padding: 0.5rem;
}

.cross {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--shade_brown);
  border: 1px solid var(--white);
  position: relative;

}

.pop_up>a:hover {
  background-color: var(--shade_brown);
}


/* -------Nav bar--------------- */
.nav__container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.upper_nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  align-items: center;
  gap: 0.2rem;
  font-weight: 600;
  font-family: sans-serif;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 0.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("techfest.png");
  background-repeat: no-repeat;
}

.logo_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo_section>img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--white);
  box-shadow: 1px 1px 10px var(--shade_brown);

}

.large_font {
  font-size: 2rem;
  color: var(--white);
}

.small_font {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.collage_social_media>img {
  border: 1px solide white;
}

.menu__icon {
  display: none;
}

/* .lower_nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0.2rem;
  height: 9vh;
  background-color: #92000a;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 0rem;
  width: 100%;
}

.dropbtn {
  background-color: transparent;
  color: white;
  font-weight: 600;
  padding: 16px;
  font-size: 16px;
  border: none;

}

.multi_section_dropdown {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--grey);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border-bottom: 4px solid var(--shade_brown);
  background-color: var(--black);
}

.erp-button {
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  font-weight: 600;
}

.erp-button:hover {
  border-bottom: 4px solid var(--shade_brown);
} */





.wrapper {
  overflow-x: hidden;
  perspective: 10px;
  height: 100vh;
}

.upper_section {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  z-index: -1;
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url("admin.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {

  color: var(--white);
  text-align: center;
  font-size: 4rem;
  width: 80%;
}



section {
  background-color: var(--sangria);
  background-color: var(--black);
  color: white;
  padding: 5rem 0;
}

.secHeading {
  font-size: 3rem;
  padding: 6rem 12rem;
}


.bg {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.desc {
  position: absolute;
  background-color: white;
  opacity: 0.5;
  padding: 0.5rem 2.5rem;
  top: 50%;
  left: 65%;
  transform: translateX(-40%) translateX(-50%);
  color: black;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
}


.bg1 {
  background-image: url(independence.jpg);
}

.bg2 {
  background-image: url(Azadi75Year.jpg);
}

.bg3 {
  background-image: url(IEIAward.jpg);
}

.wrapper {
  overflow-x: hidden;
  perspective: 10px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text {
  font-size: 1.3rem;
  padding: 0 10rem;
  margin: 5rem 0;
  font-family: sans-serif;
  color: var(--grey);
}

.text>span {
  color: var(--shade_brown);
  padding: 0.5rem 0rem;
  font-size: 30px;
  font-weight: 600;
}




/* ---footer------------------- */

.footer {
  height: 50vh;
  background-color: var(--sangria);
}


/* -----movable announcemenyt */
.movable_announcement {
  height: 7vh;
  background-color: var(--sangria);
  color: var(--white);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border: 2px solid var(--shade_brown);
}

.movable_announcement>h3 {
  background-color: var(--shade_brown);
  z-index: 2;
  padding: 0 0.4rem;
  height: fit-content;
  font-family: cursive;

}

.running__news {
  margin: 0 auto;
  white-space: nowrap;
  /* overflow: hidden; */
  position: absolute;
}

.running__news span {
  display: inline-block;
  padding-left: 100%;

  animation: running__news 25s linear infinite;
}


@keyframes running__news {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}




/* gallary slider------------------------ */
.gallery__container {
  position: relative;
  background-color: var(--black);
}

.mySlides {
  display: none;
}

.mySlides>img {
  vertical-align: middle;
  height: 80vh;
}

.gallery__title {
  text-align: center;
  font-size: 3rem;
  color: var(--sangria);
  padding: 1rem;
}

.slideshow-container {
  position: relative;
  margin: auto;
  width: 100%;
  position: static;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #808080;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;

}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.caption_text {
  color: #f2f2f2;
  font-size: 2rem;
  font-family: cursive;
  font-weight: 700;
  color: var(--sangria);
  padding: 8px 12px;
  position: absolute;
  font-family: sans-serif;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  background-color: #717171;
  padding: 0.5rem;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}




/* --------------About Us---------------------- */

.about__container {
  height: 100vh;
  background-color: var(--black);
  /* background: url("effect.webp"); */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* ---------card------ */


.card__container {
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
  border: 2px solid var(--white);
  border-radius: 1.5rem;

}

.card {
  position: relative;
  width: 20rem;
  height: 20rem;
  background-color: var(--shade_brown);
  padding: 1.25rem 2rem 3rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 16px var(--white);
}

.card__img {
  width: 100px;
  border-radius: 50%;
}

.card__border {
  width: 140px;
  height: 140px;
  border: 2px solid var(--sangria);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto 0.75rem;
}

.card__name {
  color: var(--sangria);
  font-size: 1.2rem;
  font-weight: 600;
}

.card__profession {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
}

.card__social {
  width: 200px;
  background-color: var(--sangria);
  padding: 0.75rem;
  border-radius: 3rem;
  text-align: initial;
  box-shadow: 0 3px 10px var(--grey);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.75rem;
  margin: 0 auto;
  overflow: hidden;
  transform-origin: 18px 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.card__social-text {
  display: block;
  /* display: flex; */
  align-items: center;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}


.card__social-link {
  display: inline-flex;
  background-color: var(--white);
  color: var(--black);
  font-size: 1.25rem;
  padding: 6px;
  border-radius: 50%;
}

.card__social-text,
.card__social-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 3.1rem;
}

.card__social-text {
  top: 0.5rem;
}


/* --------news__container----------- */
.news__container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.news {
  border-bottom: 1px solid var(--sangria);
  padding: 1rem 0rem;
}

.scroll__news>a {
  color: var(--white);
}



/* -----------------footer-------------- */
footer {
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  background-color: #053742;
}

.container {
  display: flex;
  padding: 3rem;
}

.container .section {
  flex-basis: 50%;
  padding: 0 20px;
}

.section h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.section .content {
  margin: 20px 0 0 0;
  position: relative;
}

.section .content::before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
}

.section .content::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background-color: #dd5f24;
  top: -10px;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: transparent;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 50px;
  transition: 0.4s;
  border: 1px solid #656565;
}


.left .content .social a span:hover {
  background: #dd5f24;
}

.center .content .fas {
  font-size: 1.1rem;
  background: transparent;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #656565;
}

.center .content .fas:hover {
  background: #dd5f24;
  border: 1px solid #dd5f24;
}

.center .content .text {
  font-size: 1.0.6rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}

.right form input {
  width: 100%;
  font-size: 1.0625rem;
  background: transparent;
  border: 1px solid #656565;
}

.right form input {
  height: 35px;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #dd5f24;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}


.right form .btn button:hover {
  background: #000;
}

.footer-bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}

.footer-bottom center span {
  color: #656565;
}

.footer-bottom center a {
  text-decoration: none;
}

.footer-bottom center a:hover {
  text-decoration: underline;
}

@media screen and (max-width:700px) {
  footer {
    position: relative;
    bottom: 0px;
  }

  .left .content {
    padding-right: 0px;
    padding-bottom: 30px;
  }

  .container {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.5rem;
  }

  .container .section {
    margin: 5px 0;
  }
}


.slide__nav {
  display: block;
  position: absolute;
  left: 1rem;
  padding: 0.5rem;
}


/* ----------responsiveness----------------- */

@media only screen and (max-width:1240px) {
  .buttons {
    flex-direction: column;
    background-color: var(--sangria);
    text-align: center;
  }

  .menu__icon {
    display: block;
    position: absolute;
    left: 1rem;
    padding: 0.5rem;
  }
}